<div class="px-16 py-16">
  <div class="flex justify-center">
    <p class="text-2xl font-bold text-center">Payment By Card</p>
  </div>
  <div class="grid">
    <p class="mt-4 text-center text-base">Card Number</p>
    <mat-form-field>
      <mat-label>Card Number</mat-label>
      <input matInput type="text"
        placeholder="1234 5678 9101 1112"
        maxlength="19"
        inputmode="numeric"
        pattern="[0-9]{19}"
        required
        (input)="formatCardNumberInput($event)"
        [(ngModel)]="cardNumber"
        name="cardNumber"
        required 
      />
    </mat-form-field>
    <div class="flex justify-between gap-12 text-center">
      <div class="grid">
        <p class="mt-4 text-base">Expiration Date</p>
        <input
          type="month"
          class="py-2 mb-4 px-4 border-2 border-black rounded-xl"
          placeholder="MM/YY"
          min="2024-07"
          max="2040-12"
          required
          [(ngModel)]="expirationDate"
          name="expirationDate"
        />
      </div>
      <div class="grid">
        <p class="mt-4 text-base">CVV</p>
        <mat-form-field>
          <mat-label>CVV</mat-label>
          <input matInput type="text"
          placeholder="123"
          maxlength="3"
          inputmode="numeric"
          pattern="[0-9]{3}"
          required
          (input)="validateNumberInput($event)"
          [(ngModel)]="cvv"
          name="cvv"
          required
          />
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <p class="mt-4 text-base text-center">Cardholder Name</p>
      <mat-form-field>
        <mat-label>Cardholder Name</mat-label>
        <input matInput type="text"
        placeholder="Jhon Doe"
        required
        [(ngModel)]="cardholderName"
        name="cardholderName"
        />
      </mat-form-field>
    </div>
    <button
      class="py-3 text-center rounded-xl mt-4 bg-green-400 disabled:bg-gray-400 text-white font-bold text-xl"
      (click)="Pay()"
      [disabled]="!isValidForm()"
      [ngClass]="{ disabled: !isValidForm() }"
    >
      Pay
    </button>
  </div>
</div>
