<app-navbar></app-navbar>
<div class="flex justify-center items-center gap-10 mt-44">
  <div *ngIf="item" class="px-4 lg:w-[450px] xl:w-[550px] xl:h-[540px] rounded-xl shadow-2xl">
    <picture>
      <img [src]="item.img" alt="{{ item.name }}" />
    </picture>
  </div>
  <div *ngIf="item" class="grid w-1/5 xl:gap-4">
    <p class="lg:text-2xl xl:text-6xl font-bold">{{ item.name }}</p>
    <p class="lg:text-lg  xl:text-2xl text-gray-600">{{ item.description }}</p>
    <div class="flex gap-1">
        <p class="text-gray-400">Distributed by -</p>
        <p class="font-medium">{{ item.customer }}</p>
    </div>
    <div class="flex justify-between lg:gap-4 xl:gap-10">
        <p class="lg:text-xl  xl:text-3xl">S/.{{ item.price }}</p>
        <p class="grid items-center border-2 px-4 rounded-xl">{{ item.stock }} - In Stock</p>
    </div>
    <div class="bg-black text-white rounded-xl font-bold text-center hover:cursor-pointer xl:mt-8" (click)="addToCart(item)">
      <p class="py-3">Add to Shop Car</p>
    </div>
  </div>
</div>
