<nav class=" grid justify-center md:flex bg-black text-white md:justify-between px-16 py-6">
  <div class="flex gap-4 hover:cursor-pointer" (click)="navigateToHome()">
    <ng-icon name="featherBox" class="text-4xl"></ng-icon>
    <p class="font-bold text-2xl">Materia Store</p>
  </div>
  <div class="flex gap-12">
    <span *ngIf="username" mat-button [matMenuTriggerFor]="menu" class="text-white text-2xl text-center hover:cursor-pointer">{{ username }}</span>
    <mat-menu #menu="matMenu" class="flex items-center justify-center">
      <p class="text-lg font-bold hover:cursor-pointer px-4" (click)="EndSession()">Leave Session</p>
      <p  *ngIf="userRole === 'admin'" class="text-lg font-bold hover:cursor-pointer px-4" (click)="NavigateToAdmin()">Admin Dashboard</p>
    </mat-menu>
    <div class="relative flex gap-10" (click)="navigateToCart()">
      <ng-icon name="featherShoppingBag" class="text-4xl hover:cursor-pointer"></ng-icon>
      <span *ngIf="cartItemCount > 0" class="absolute bottom-6 left-6 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center text-sm">
        {{ cartItemCount }}
      </span>
    </div>
    <ng-icon *ngIf="!isUserLoggedIn" name="featherUser" class="text-4xl hover:cursor-pointer" (click)="navigateToLogin()"></ng-icon>
  </div>
</nav>