<div class="relative w-full overflow-hidden">
    <div class="flex transition-transform duration-500 ease-in-out" [ngStyle]="{'transform': 'translateX(' + translateX + ')'}">
      <div class="carousel-item w-full flex-shrink-0">
        <img src="https://dlcdnwebimgs.asus.com/gain/7E72AA02-81DF-43E9-B823-CB3DD30A2413" class="w-full h-[500px]" alt="Slide 1" />
      </div>
      <div class="carousel-item w-full flex-shrink-0">
        <img src="https://lzd-img-global.slatic.net/g/p/518794fda461319627b5431524af3027.png_2200x2200q80.png_.webp" class="w-full h-[500px]" alt="Slide 2" />
      </div>
      <div class="carousel-item w-full flex-shrink-0">
        <img src="https://cdn.cs.1worldsync.com/syndication/mediaserverredirect/7b324aca2aebba07c7d26fe54e6172e0/original.jpg" class="w-full h-[500px]" alt="Slide 3" />
      </div>
    </div>
  </div>
  